In [1]:
from utilities import *
import pandas as pd

In [4]:
datafile = "D:/Google Drive/MSc MST-AUEB/_Thesis_/Main Thesis/Model Data.xlsx"
d = DataProvider(filepath=datafile, route='910')

In [5]:
d.data.head()

,initial_depot,final_depot,relief_point,time,trip_duration,start_time,end_time
trip,,,,,,,
1,Akadimia,Voula,NaN,05:30,54,330,384
2,Akadimia,Voula,NaN,05:45,54,345,399
3,Akadimia,Voula,NaN,06:05,59,365,424
4,Akadimia,Voula,NaN,06:20,59,380,439
5,Akadimia,Voula,NaN,06:35,59,395,454