In [3]:
from utilities import *
import pandas as pd

In [4]:
data = "D:/Google Drive/MSc MST-AUEB/_Thesis_/Main Thesis/Bus Timetable.xlsx"

In [5]:
df = pd.read_excel(data, sheet_name='910')

In [7]:
df['start time (hh:mm)'].apply(time2minutes)

0      300
1      320
2      355
3      380
4      400
5      420
6      435
7      450
8      465
9      480
10     495
11     515
12     530
13     545
14     565
15     580
16     595
17     610
18     625
19     645
20     660
21     675
22     695
23     710
24     725
25     745
26     760
27     775
28     795
29     810
30     825
31     845
32     860
33     875
34     895
35     910
36     925
37     945
38     960
39     975
40     995
41    1010
42    1025
43    1045
44    1060
45    1080
46    1105
47    1130
48    1150
49    1170
50    1190
51    1215
52    1240
53    1270
54    1305
55    1345
56    1385
57    1420
Name: start time (hh:mm), dtype: int64